<section class="card"><h2>Officers</h2><div class="table-wrap"><table><caption>Officer workload metrics</caption><thead><tr><th>Officer</th><th>Active</th><th>Overdue</th></tr></thead><tbody><% officers.forEach(function(officer) { %><tr><td><%= officer.officerLabel %></td><td><%= officer.activeTaskCount %></td><td><%= officer.overdueTaskCount %></td></tr><% }) %></tbody></table></div></section>
