<section>
  <h4>Escalation Chain</h4>
  <ol>
    <li>Level 1: Assigned officer and supervisor</li>
    <li>Level 2: Supervisor and nodal officer</li>
    <li>Level 3: Admin and operations</li>
  </ol>
</section>
